.conversor {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(58,118,180);
    background: linear-gradient(90deg, rgba(58,118,180,1) 0%, rgba(253,85,29,1) 44%, rgba(252,204,69,1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    width: 100%;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos toda a tela */
  }

  
  input, select {
    margin: 10px;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid gray;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  h1 {
    color: darkblue;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 20px;
    color: rgb(67, 66, 66);
    font-size: 25px;
  }
  
  .botao-voltar {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 80px; /* Ajuste o valor para que o botão não fique muito afastado */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .botao-voltar:hover {
    background-color: rgb(101, 95, 95);
  }
  