.fundo-sorteio {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(91, 45, 12);
  background: hsla(356, 68%, 91%, 1);

  background: linear-gradient(
    90deg,
    hsla(356, 68%, 91%, 1) 0%,
    hsla(140, 60%, 82%, 1) 50%,
    hsla(316, 66%, 80%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(356, 68%, 91%, 1) 0%,
    hsla(140, 60%, 82%, 1) 50%,
    hsla(316, 66%, 80%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(356, 68%, 91%, 1) 0%,
    hsla(140, 60%, 82%, 1) 50%,
    hsla(316, 66%, 80%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F8DADC", endColorstr="#B6EDC8", GradientType=1 );
}

.jogo-sorteio {
  text-align: center;
  margin-top: 20px;
}

.botao-sorteio {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(91, 45, 12);
  color: white;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
  transition: 0.3s;
}

.botao-sorteio:hover {
  background-color: rgb(171, 143, 123);
}

.imagem-sorteada {
  width: 220px;
  height: 220px;
}

.botao-reinicia {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: lightyellow;
  color: rgb(84, 42, 11);
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botao-reinicia:hover {
  background-color: rgb(251, 229, 197);
}
